@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
/* .box {
 
  width: 95%;
  height: 40%;
  background: #000;
  background: url("https://res.cloudinary.com/dt0j68vdr/image/upload/v1676712825/screencapture-zezo-vercel-app-2022-12-01-12_11_11_lvyv83_ltysw3.webp");
  border: 5px solid #fff;
  background-position: top;

  transition: 5s;
}
.box:hover {
  background-position: bottom;
} */

.image-wrap {
  /* width: 300px; */
  height: 300px;
  overflow: hidden;
  border: 2px solid black;
  /* border-radius: 5%; */
  /* margin: 50px auto; */
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 1s ease-in-out;
}
.image-wrap:hover img {
  object-position: bottom center;
}
